.header {
			border: 5px outset beige;
			background-color: #352315;
			text-align: center;
			width: 100%;
			font-style: italic;
			font-style: bold;
			color: white;
			font-family: Harlow Solid Italic;
			opacity:.75;
			}
body{ 
			 background: #9A7B4F;
			 background-image: url("yumm2.jpeg");
			 background-size: cover;
			background-repeat: repeat-y;
			background-size: 100%;

			 
}
footer {
				
			  text-align: center;
			  padding: 3px;
			  background-color: #352315;
			  color: white;
			  float: bottom;
			  position:absolute;
			  bottom:-920;
			  width:100%;
			  opacity:.70;
			  height:100 px;  
			}
			.topnav a:hover {
		  background-color: #ddd;
		  color: black;
		  
}
.topnav {
			  overflow: hidden;
			  background-color: #352315;
			  opacity:.80;
			  text-align: center;
}


.topnav a {
  
 
  color: #f2f2f2;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  font-size: 25px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 35px;
    padding: 10px;
    color:rgb(206, 185, 165);
    text-align: center;
	background-color: #352315;
	width: 300px;
	opacity: .75;
	
}
.menu
{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 15px;
    color:rgb(206, 185, 165);
    box-shadow: 10px 10px rgba(7, 7, 7, 0.555);
    background-color:rgba(49, 43, 43, 0.568);
	width: 50%;
	margin-left: 20px;
	margin-right; 20px;
    padding: 5px;
}
.menu2
{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 15px;
    color:rgb(206, 185, 165);
    box-shadow: 10px 10px rgba(7, 7, 7, 0.555);
    background-color:rgba(49, 43, 43, 0.568);
	width: 50%;
	
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
        padding-left: 45px;
	padding-top: 5px;
}
p
{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 13px;
    color:rgb(206, 185, 165);
    
    padding-bottom: 5px;
}
 h2{
	
	text-align: center;
	height: 20;
	font-style: bold;
	color: white;
	font-size: 55px;`
	margin-bottom: 500px;
	opacity: .55;
 }
button{
height:30px;
width:120px; 
background-color: #352315;
background-image: linear-gradient(to right, #80471c,#352315);
float: right;
margin-top: 18px;
}

.frwd1{
float: right;
margin-right: 150px;
margin-bottom: 350px;
}
.frwd4{
float: right;
margin-right:10px;

}
.frwd2{
float: right;
margin-right: 240px;
margin-bottom: 350px;
}
.frwd3{
float: right;
margin-left: 350px;

}